
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %> </title>
  </head>
  <body>

<h1>About this App</h1>
<p>This is just a Sample to for Learning
<em> Ruby on Rails</em> !! Have Fun!

</p>

</body>
</html>
