<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%> </title>
  </head>
  <body>

<h1>Help</h1>
<p>If you think you are so cool with RoR
  <p>  Take up a challenge and teach others !! </p>
  </p>

</body>
</html>
