<% provide(:title, "Home") %>
<!DOCTYPE html>

<html>
  <head>
    
    <title><%= full_title(yield(:title)) %> </title>
  </head>
  <body>

<h1>Sample application Home</h1>
<p>

  This is my Home page!! Please help yourself !!
  <p>
     <a href= "www.google.com" > Google </a>
  </p>

</p>

</body>
</html>
